.title {
  height: 100vh;
  position: absolute;
  display: inline-block;

  .transformWrapper {
    position:fixed;
    bottom: 50%;
    width: 100%;
    max-width: 1080px;
    padding-left: 10px;
    transform: rotate(0deg) translateY(0%);
    transform-origin: bottom left;
  }
  
  h1 {
    margin: 0;
    white-space: nowrap;
    font-family: Oswald, sans-serif;
    width: 100vh;
    font-size: 100px;
    font-weight: 300;
  }

  .bar {
    position: relative;
    bottom: 10px;
    width: 100%;
    border-bottom: 3px solid $grey;
    z-index: -1;
  }
}

.content {
  display: inline-block;
  margin-left: 104px;
  margin-top: 50vh;
  min-height: 100vh;
  width: calc(100% - 104px);
  padding-left: 20px;

  .subheader {
    margin-bottom: 50vh;
  }
}

.contact {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      font-size: small;
      a {
        border-left: 2px solid $grey;
        padding-left: 5px;
        margin-left: 5px;
        color: $accent;
        text-transform: lowercase;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.scrollPrompt {
  position: absolute;
  top: calc(100vh - 40px);
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;  

  polyline {
    stroke: $accent;
  }
}

@keyframes bounce {
  0%, 10%, 50%, 90%, 100% {
    transform: translateY(0) translateX(-50%);
  }

  35%, 65% {
    transform: translateY(-20px) translateX(-50%);
  }
}
