@media(max-width: 767px) {
    footer {
        margin-right: 5px;
        border-top-width: 1px;
    }
    .title {
        h1 {
            font-size: 40px;
        }
    }

    .content {
        margin-left: 42px;
        width: calc(100% - 42px);
        padding-left: 5px;
    }

    .contact {
        ul li a {
            font-size: x-small;
        }
    }
}